/* styles.css */
body {
  background-color: #481515; /* Replace with your desired color */
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif; /* Optional: Set a default font */
}

html {
  height: 100%; /* Ensure that the body takes up the full height of the page */
}
